<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb107704292745179</string>
				<string>yx0d9a9f9088ea44d78680f3274da1765f</string>
				<string>ap2015072400185895</string>
				<string>kakao72d8bddd2e3970a531b26d1c69ad2439</string>
				<string>tb2QUXqO9fcgGdtGG1FcvML6ZunIQzAEL8xY6hIaxdJnDti2DYwM</string>
				<string>QQ05FB8B52</string>
				<string>wx4868b35061f87885</string>
				<string>wb568898243</string>
				<string>tencent100371282</string>
				<string>fb107704292745179</string>
				<string>wb801307650</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FacebookAppID</key>
	<string>107704292745179</string>
	<key>KAKAO_APP_KEY</key>
	<string>72d8bddd2e3970a531b26d1c69ad2439</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>fb-messenger</string>
		<string>yixin</string>
		<string>pinit</string>
		<string>alipayshare</string>
		<string>kakaokompassauth</string>
		<string>pinterestsdk.v1</string>
		<string>storykompassauth</string>
		<string>alipay</string>
		<string>kakao72d8bddd2e3970a531b26d1c69ad2439</string>
		<string>line</string>
		<string>whatsapp</string>
		<string>mqqwpa</string>
		<string>instagram</string>
		<string>fbauth2</string>
		<string>renren</string>
		<string>renrenios</string>
		<string>renrenapi</string>
		<string>rm226427com.mob.demoShareSDK</string>
		<string>mqq</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>sinaweibohdsso</string>
		<string>sinaweibosso</string>
		<string>wechat</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.xib</string>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
